html
{
    margin: 0;
    font: 14px 'PT Sans', sans-serif;
    color: #000;
    cursor: default;
}

body
{
    margin: 0;
}

a
{
    color: #000;
    text-decoration: none;
}

.text--big
{
    font-size: 1.25rem;
}

.text--small
{
    font-size: .8rem;
}

.text--bold
{
    font-weight: bold;
}

.text--gray
{
    color: #888;
}

.text--blue
{
    color: #05b;
}

.text--light-blue
{
    color: #69d;
}

.hover-text--red:hover,
.first-letter--red::first-letter
{
    color: #d00;
}

main
{
    display: grid;
    grid-template-columns: 2fr repeat(3, 3fr) 2fr;
    grid-gap: 2rem;
    grid-template-areas: 'a . . b c'
        '. d d e .'
        'g h h h .'
        '. i i i .'
        '. j j j .';
    min-width: 1200px;
    max-width: 1600px;
    margin: 0 auto;
    padding: 1rem 2rem 2rem;
    font-size: 1rem;
}

.city
{
    grid-area: a;
    padding: 1rem 0 0;
}

.city__check::before
{
    position: relative;
    top: .1rem;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin: 0 .25rem 0 0;
    background: url(images/location.png) 0 0 no-repeat;
    background-size: cover;
    content: '';
}

.city__check:hover::before
{
    position: relative;
    top: .1rem;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin: 0 .25rem 0 0;
    background: url(images/location-red.png) 0 0 no-repeat;
    background-size: cover;
    content: '';
}

.settings
{
    position: relative;
    grid-area: b;
    padding: 1rem 0 0;
    text-align: right;
}

.settings__open-popup
{
    cursor: pointer;
}

input[name='display-settings-popup'],
input[name='select-setting']
{
    display: none;
}

input[id='display-settings-popup']:checked ~ .settings-popup
{
    display: block;
}

.settings-popup
{
    position: absolute;
    top: 3rem;
    right: 0;
    display: none;
    padding: 1rem;
    box-shadow: 0 0 3px rgba(0,0,0, .5);
    background: #fff;
    text-align: left;
}

.settings-popup__item
{
    display: block;
    cursor: pointer;
}

.settings-popup__item:not(:last-child)
{
    margin: 0 0 .5rem;
}

.settings-popup__item::before
{
    position: relative;
    top: .1rem;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin: 0 .25rem 0 0;
    background: url(images/checkbox.png) 0 0 no-repeat;
    background-size: cover;
    content: '';
}

input[id='set-1']:not(:checked) ~ .widgets .column-1 .visited,
input[id='set-2']:not(:checked) ~ .widgets .column-1 .anecdotes,
input[id='set-3']:not(:checked) ~ .widgets .column-2 .tv,
input[id='set-4']:not(:checked) ~ .widgets .column-2 .auto-news,
input[id='set-5']:not(:checked) ~ .widgets .column-3 .weather,
input[id='set-6']:not(:checked) ~ .widgets .column-3 .traffic-jams,
input[id='set-7']:not(:checked) ~ .widgets .column-3 .map,
input[id='set-8']:not(:checked) ~ .widgets .column-3 .affiches
{
    display: none;
}

input[id='set-1']:not(:checked) ~ input[id='set-2']:not(:checked) ~ .widgets
{
    grid-template-areas: 'column2 column3 .';
}

input[id='set-3']:not(:checked) ~ input[id='set-4']:not(:checked) ~ .widgets
{
    grid-template-areas: 'column1 column3 .';
}

input[id='set-1']:not(:checked) ~ input[id='set-2']:not(:checked) ~ input[
id='set-3']:not(:checked) ~ input[id='set-4']:not(:checked) ~ .widgets
{
    grid-template-areas: 'column3 . .';
}

input[id='set-1']:not(:checked) ~ .settings label[for='set-1']::before,
input[id='set-2']:not(:checked) ~ .settings label[for='set-2']::before,
input[id='set-3']:not(:checked) ~ .settings label[for='set-3']::before,
input[id='set-4']:not(:checked) ~ .settings label[for='set-4']::before,
input[id='set-5']:not(:checked) ~ .settings label[for='set-5']::before,
input[id='set-6']:not(:checked) ~ .settings label[for='set-6']::before,
input[id='set-7']:not(:checked) ~ .settings label[for='set-7']::before,
input[id='set-8']:not(:checked) ~ .settings label[for='set-8']::before
{
    position: relative;
    top: .1rem;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin: 0 .25rem 0 0;
    background: url(images/checkbox-empty.png) 0 0 no-repeat;
    background-size: cover;
    content: '';
}

.mail
{
    grid-area: c;
    padding: 1rem;
    box-shadow: 0 0 3px rgba(0,0,0, .5);
}

.mail__login,
.mail__letters
{
    display: block;
}

.mail__login
{
    margin: 0 0 .5rem;
}

.mail__letters:hover .hover-text--red
{
    color: #d00;
}

.widget.news
{
    grid-area: d;
    margin: 0;
}

.news .widget-header__more,
.news__city
{
    margin: 0 .5rem 0 0;
}

.news-items
{
    margin: 0 0 1rem;
    padding: 0;
}

.news-item:not(:last-child)
{
    margin: 0 0 .5rem;
}

.currency
{
    display: inline-block;
    margin: 0 .5rem 0 0;
}

.small-blurb
{
    grid-area: e;
    text-align: center;
}

.small-blurb__image
{
    max-width: 125px;
    max-height: 125px;
    margin: 0 0 1rem;
}

.small-blurb__more
{
    display: block;
    margin: 0 0 .5rem;
}

.small-blurb__description
{
    display: block;
}

.yandex-logo
{
    grid-area: g;
    text-align: right;
}

.yandex-logo__logo
{
    display: block;
    margin: 2rem 0 0;
    font-size: 2.5rem;
}

.search
{
    grid-area: h;
    position: relative;
}

.menu
{
    margin: 0 0 .5rem;
}

.menu__link:not(:last-child)
{
    margin: 0 .5rem 0 0;
}

.search-form
{
    position: relative;
    margin: 0 0 .5rem;
    padding: 0;
    background: #eef;
}

.search-form__search-line
{
    width: 90%;
    height: 3rem;
    padding: 0 1rem;
    border: 2px solid #fd3;
    outline: transparent;
}

.search-form__search
{
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 10%;
    height: 3rem;
    border: 2px solid #fd3;
    background-color: #fd3;
    cursor: pointer;
}

.example
{
    margin: 0;
    padding: 0;
}

.blurb
{
    grid-area: i;
}

.blurb__image
{
    max-width: 90%;
    max-height: 150px;
}

.widgets
{
    grid-area: j;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    grid-template-areas: 'column1 column2 column3';
}

.column-1
{
    grid-area: column1;
}

.column-2
{
    grid-area: column2;
}

.column-3
{
    grid-area: column3;
}

.widget
{
    margin: 0 0 2rem;
}

.widget-header
{
    margin: 0 0 1rem;
}

.visited-item:not(:last-child)
{
    margin: 0 0 .5rem;
}

input[name='refresh-anecdote'],
.anecdote
{
    display: none;
}

input[id='anecdote-1']:checked ~ .anecdote-1,
input[id='anecdote-2']:checked ~ .anecdote-2,
input[id='anecdote-3']:checked ~ .anecdote-3,
input[id='anecdote-4']:checked ~ .anecdote-4,
input[id='anecdote-5']:checked ~ .anecdote-5
{
    display: block;
}

.anecdote__theme
{
    margin: 0 0 .5rem;
}

.anecdote__text
{
    margin: 0 0 2rem;
    padding: 0;
}

label[for^='anecdote-']
{
    cursor: pointer;
}

label[for^='anecdote-']::before
{
    position: relative;
    top: .1rem;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin: 0 .25rem 0 0;
    background: url(images/refresh.png) 0 0 no-repeat;
    background-size: cover;
    content: '';
}

label[for^='anecdote-']:hover::before
{
    position: relative;
    top: .1rem;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin: 0 .25rem 0 0;
    background: url(images/refresh-red.png) 0 0 no-repeat;
    background-size: cover;
    content: '';
}

.tv .widget-header__more
{
    margin: 0 .5rem 0 0;
}

.tv__tv-online
{
    padding: .25rem .75rem;
    border-radius: 5px;
    background: linear-gradient(to right, #0bf, #76f);
    color: #fff;
    cursor: pointer;
}

.tv-item:not(:last-child)
{
    margin: 0 0 .5rem;
}

.tv-item__time,
.tv-item__broadcast
{
    margin: 0 .5rem 0 0;
}

.auto-news
{
    position: relative;
    width: 100%;
    overflow: hidden;
}

.auto-news-items
{
    width: 100%;
    height: 250px;
    overflow: auto;
}

.auto-news-items::-webkit-scrollbar
{
    width: 0;
}

.white-shadow--top
{
    position: absolute;
    top: 2.5rem;
    left: 0;
    width: 100%;
    height: 2rem;
    background: linear-gradient(to top, 
    rgba(255,255,255, 0), rgba(255,255,255, 1));
}

.white-shadow--bottom
{
    position: absolute;
    top: calc(1rem + 250px);
    left: 0;
    width: 100%;
    height: 2rem;
    background: linear-gradient(to bottom, 
    rgba(255,255,255, 0), rgba(255,255,255, 1));
}

.auto-news-item:not(:last-child)
{
    margin: 0 0 .5rem;
}

.weather .widget-header__more
{
    margin: 0 .5rem 0 0;
}

.weather__current-weather
{
    height: 2rem;
    margin: -1rem .5rem 0 0;
}

.traffic-jams .widget-header__more
{
    margin: 0 .5rem 0 0;
}

.traffic-jams-header__jams-4
{
    height: 1.5rem;
    margin: -1rem .5rem 0 0;
}

.map__link:not(:last-child)
{
    margin: 0 .5rem 0 0;
}

.affiche
{
    margin: 0 0 .5rem;
}

.affiche__link
{
    margin: 0 .5rem 0 0;
}

.more-affiche
{
    margin: 0;
}
