html
{
    margin: 0;
    font: 14px 'PT Sans', sans-serif;
    color: #000;
    cursor: default;
}

body
{
    margin: 0;
}

a
{
    color: #000;
    text-decoration: none;
}

.text--big
{
    font-size: 1.25rem;
}

.text--small
{
    font-size: .8rem;
}

.text--bold
{
    font-weight: bold;
}

.text--gray
{
    color: #888;
}

.text--blue
{
    color: #05b;
}

.text--light-blue
{
    color: #69d;
}

.hover-text--red:hover,
.first-letter--red::first-letter
{
    color: #d00;
}

main
{
    display: grid;
    grid-template-columns: 2fr repeat(3, 3fr) 2fr;
    grid-gap: 2rem;
    grid-template-areas: 'a . . b c'
        '. d d e .'
        'g h h h .'
        '. i i i .'
        '. j k l .'
        '. j k m .'
        '. n o p .'
        '. n o q .';
    min-width: 1200px;
    max-width: 1600px;
    margin: 0 auto;
    padding: 1rem 2rem 2rem;
    font-size: 1rem;
}

.current-city
{
    grid-area: a;
    padding: 1rem 0 0;
}

.current-city__select
{
    font-size: 1rem;
}

.current-city__select::before
{
    position: relative;
    top: .1rem;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin: 0 .25rem 0 0;
    background: url(images/location.png) 0 0 no-repeat;
    background-size: cover;
    content: '';
}

.current-city__select:hover::before
{
    position: relative;
    top: .1rem;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin: 0 .25rem 0 0;
    background: url(images/location-red.png) 0 0 no-repeat;
    background-size: cover;
    content: '';
}

.settings
{
    grid-area: b;
    padding: 1rem 0 0;
    text-align: right;
}

.settings__select
{
    font-size: 1rem;
}

.mail
{
    grid-area: c;
    padding: 1rem;
    box-shadow: 0 0 3px rgba(0,0,0, .5);
}

.mail__login,
.mail__letters
{
    display: block;
    font-size: 1rem;
}

.mail__login
{
    margin-bottom: .5rem;
}

.mail__letters:hover .hover-text--red
{
    color: #d00;
}

.menu__link:hover,
.example__link:hover
{
    color: #d00;
}

.current-news
{
    grid-area: d;
}

.current-news-header
{
    margin: 0 0 1rem;
}

.current-news-header__more,
.current-news-header__in-city
{
    margin: 0 .5rem 0 0;
}

.current-news-items
{
    margin: 0 0 .5rem;
    padding: 0;
}

.current-news-item:last-child
{
    margin-bottom: 1rem;
}

.current-news-item__more
{
    font-size: 1rem;
}

.currency
{
    display: inline-block;
    margin: 0 .5rem 0 0;
}

.currency:last-child
{
    margin-right: 0;
}

.currency__link
{
    font-size: 1rem;
}

.currency__cost
{
    font-size: 1rem;
}

.small-blurb
{
    grid-area: e;
    text-align: center;
}

.small-blurb__image
{
    max-width: 125px;
    max-height: 125px;
    margin: 0 0 .5rem;
}

.small-blurb__more
{
    display: block;
    margin: 0 0 .5rem;
}

.small-blurb__description
{
    display: block;
    font-size: 1rem;
}

.yandex
{
    grid-area: g;
    text-align: right;
}

.yandex__logo
{
    display: block;
    margin: 2rem 0 0;
    font-size: 2.5rem;
}

.search
{
    grid-area: h;
    position: relative;
}

.menu
{
    margin: 0 0 .5rem;
}

.menu__link
{
    margin: 0 1rem 0 0;
}

.menu__link:last-child
{
    margin-right: 0;
}

.search-form
{
    margin: 0 0 .5rem;
    padding: 0;
}

.search-form__search
{
    width: 90%;
    height: 3rem;
    padding: 0 1rem;
    border: 2px solid #fd3;
    outline: none;
}

.search-form__button
{
    position: absolute;
    top: 2.1rem;
    right: 0;
    display: inline-block;
    height: 3rem;
    padding: 0 1.5rem;
    border: 2px solid #fd3;
    background-color: #fd3;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}

.example__text
{
    font-size: 1rem;
}

.blurb
{
    grid-area: i;
}

.blurb__image
{
    max-width: 90%;
    max-height: 150px;
}

.visited
{
    grid-area: j;
}

.visited-header
{
    margin: 0 0 1rem;
}

.visited-item:not(:last-child)
{
    margin: 0 0 .5rem;
}

.visited-item__theme
{
    font-size: 1rem;
}

.visited-item__article
{
    font-size: 1rem;
}

.tv
{
    grid-area: k;
    display: block;
}

.tv-header
{
    margin: 0 0 1rem;
}

.tv-header__more
{
    margin: 0 .5rem 0 0;
}

.tv-header__tv-online
{
    padding: .25rem .75rem;
    border-radius: 5px;
    background: linear-gradient(to right, #0bf, #76f);
    color: #fff;
    cursor: pointer;
}

.tv-item:not(:last-child)
{
    margin: 0 0 .5rem;
}

.tv-item__time,
.tv-item__broadcast
{
    margin: 0 .5rem 0 0;
}

.tv-item__time
{
    font-size: 1rem;
}

.tv-item__broadcast
{
    font-size: 1rem;
}

.tv-item__channel
{
    font-size: 1rem;
}

.weather
{
    grid-area: l;
}

.weather-header
{
    margin: 0 0 1rem;
}

.weather-header__more
{
    margin: 0 .5rem 0 0;
}

.weather-header__current-weather
{
    height: 2rem;
    margin: -1rem .5rem 0 0;
}

.weather__future-temperature
{
    font-size: 1rem;
}

.traffic-jams
{
    grid-area: m;
}

.traffic-jams-header
{
    margin: 0 0 1rem;
}

.traffic-jams-header__more
{
    margin: 0 .5rem 0 0;
}

.traffic-jams-header__jams-4
{
    height: 1.5rem;
    margin: -1rem .5rem 0 0;
}

.traffic-jams__description
{
    font-size: 1rem;
}

.anecdotes
{
    grid-area: n;
}

.anecdotes-header
{
    margin: 0 0 1rem;
}

input[name='refresh-anecdote']
{
    display: none;
}

.anecdote
{
    display: none;
}

input[id='anecdote-1']:checked ~ .anecdote-1,
input[id='anecdote-2']:checked ~ .anecdote-2,
input[id='anecdote-3']:checked ~ .anecdote-3,
input[id='anecdote-4']:checked ~ .anecdote-4,
input[id='anecdote-5']:checked ~ .anecdote-5
{
    display: block;
}

.anecdote-theme
{
    margin: 0 0 .5rem;
}

.anecdote-theme__link
{
    font-size: 1rem;
}

.anecdote__text
{
    margin: 0 0 2rem;
    padding: 0;
}

.anecdote__refresh
{
    font-size: 1rem;
    cursor: pointer;
}

.anecdote__refresh::before
{
    position: relative;
    top: .1rem;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin: 0 .25rem 0 0;
    background: url(images/refresh.png) 0 0 no-repeat;
    background-size: cover;
    content: '';
}

.anecdote__refresh:hover::before
{
    position: relative;
    top: .1rem;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin: 0 .25rem 0 0;
    background: url(images/refresh-red.png) 0 0 no-repeat;
    background-size: cover;
    content: '';
}

.auto-news
{
    grid-area: o;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.auto-news-header
{
    margin: 0 0 1rem;
}

.auto-news-items
{
    width: 100%;
    height: 250px;
    overflow: auto;
}

.auto-news-items::-webkit-scrollbar
{
    width: 0;
}

.white-shadow--top
{
    position: absolute;
    top: 2.5rem;
    left: 0;
    width: 100%;
    height: 2rem;
    background: linear-gradient(to top, 
    rgba(255,255,255, 0), rgba(255,255,255, 1));
}

.white-shadow--bottom
{
    position: absolute;
    top: calc(1rem + 250px);
    left: 0;
    width: 100%;
    height: 2rem;
    background: linear-gradient(to bottom, 
    rgba(255,255,255, 0), rgba(255,255,255, 1));
}

.auto-news-item:not(:last-child)
{
    margin: 0 0 .5rem;
}

.auto-news-item__link
{
    font-size: 1rem;
}

.map
{
    grid-area: p;
}

.map-header
{
    margin: 0 0 1rem;
}

.map__link
{
    margin: 0 1rem 0 0;
    font-size: 1rem;
}

.map__link:last-child
{
    margin-right: 0;
}

.affiche
{
    grid-area: q;
}

.affiche-header
{
    margin: 0 0 1rem;
}

.affiche-item
{
    margin: 0 0 .5rem;
}

.affiche-item__link
{
    margin: 0 .5rem 0 0;
    font-size: 1rem;
}

.affiche-item__description
{
    font-size: 1rem;
}

.additional-affiche .affiche-item__link
{
    margin: 0;
}
